.shoji {  overflow-x: hidden; }

.shoji > .shoji-rail {
    height: 0;
    position: fixed;
    width: 100%;
    padding-top: 60px;
}

.shoji > .shoji-rail > .shoji-panel {
    display: none;
    width: 265px;
}

.shoji > .shoji-rail > .shoji-panel.shoji-panel-left { float: left !important; }

.shoji > .shoji-rail > .shoji-panel.shoji-panel-right { float: right !important; }

.shoji > .shoji-door {
    position: relative;
}

#navbar-fixed{
    border: 1px;
    border-radius: 0 !important;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-toggle-left,
.navbar-toggle-right {
    margin: 5px;
}

.navbar-toggle-left { float: left !important; }

.navbar-toggle-right { float: right !important; }

.navbar-banner {
    width: 100%;
    text-align: center;
    background: white;
    position: absolute;
}

.navbar-banner > .navbar-brand {
    float: none !important;
    line-height: 50px;
}

.navbar-header{
    width: 100%;
}

#route-section{
    position: relative;
    padding-top: 60px;
    z-index: 0;
}


@media screen and (min-width: 768px) {
    .navbar-banner {
        text-align: left;
    }
}
