button.waiting{
    background-color: white !important;
}

.thumbnail button{
	margin-right: 2px;
	min-width: 51px;
}

.thumbnail button img{
	width: 20px;
}

.animated{
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
	-moz-animation-duration: 3s;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: infinite;
	-ms-animation-duration: 3s;
  -ms-animation-delay: 2s;
  -ms-animation-iteration-count: infinite;
	-o-animation-duration: 3s;
  -o-animation-delay: 2s;
  -o-animation-iteration-count: infinite;
}

.edit-buttons {
  display: none;
}

@media screen and (min-width: 768px) {
    .navbar-banner {
        text-align: left;
    }
    .edit-buttons {
      display: initial;
    }
}
