button.waiting{
    background-color: white !important;
}

.thumbnail button{
	margin-right: 2px;
	min-width: 51px;
}

.thumbnail button img{
	width: 20px;
}

.signupButton{
  cursor: pointer;
  display: block;
  margin: 40px auto;
  width: 245px;
}

.dropdown-menu{
  min-width: 108px;
}

.animated{
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
	-moz-animation-duration: 3s;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: infinite;
	-ms-animation-duration: 3s;
  -ms-animation-delay: 2s;
  -ms-animation-iteration-count: infinite;
	-o-animation-duration: 3s;
  -o-animation-delay: 2s;
  -o-animation-iteration-count: infinite;
}

.edit-buttons, .print-buttons {
  display: none;
}

#shoji .navbar-header{
  margin: 0px;
}

#navbar-fixed {
  background-color: white;
}

.navbar-banner {
  height: 0px;
}

#navbar-fixed > div{
  padding: 0px;
}

#sidemenu .panel, #sidemenu .panel-heading,
.shoji-panel-left .panel, .shoji-panel-left .panel-heading{
  background-color: white !important;
  border: 0px !important;
  box-shadow: 0 0px 0px rgba(0,0,0,0);
  margin-top: 0px !important;
}

#sidemenu .panel, #sidemenu .panel-heading{
  padding-left: 0px;
  padding-top: 0px;
}

#sidemenu .list-group, .shoji-panel-left .list-group, .shoji-panel-left ul{
  margin-bottom: 0px;
}

#sidemenu ul{
  margin-bottom: 10px;
}

#sidemenu .panel-title, #sidemenu .panel li,
.shoji-panel-left .panel-title, .shoji-panel-left .panel li{
  font-size: 20px;
  color:gray;
}
#sidemenu .panel li,
.shoji-panel-left .panel li{
  font-size: 17px;
}

#sidemenu .panel a:focus,
.shoji-panel-left .panel a:focus{
  text-decoration: none;
}

#sidemenu .panel a:hover,
#sidemenu .panel li:hover,
.shoji-panel-left .panel li:hover,
.shoji-panel-left .panel a:hover{
  text-decoration: underline;
}

#sidemenu .panel li,
.shoji-panel-left .panel li{
  margin-bottom: 5px;
}

#sidemenu .panel ul{
  padding-left: 10px;
}

.shoji-panel-left .panel ul{
  padding-left: 25px;
}


@media screen and (min-width: 768px) {
    .navbar-banner {
        text-align: left;
    }
    .edit-buttons, .print-buttons {
      display: initial;
    }
}
