.middleDiv {
    position : absolute;
    width    : 450px;
    left     : 50%;
    top      : 50%;
    margin-left : -100px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
}
.head{
	width: 450px;
	font-size: 28px;
}