.navbarFixed {
  border: 1px;
  border-radius: 0 !important;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
  height: 50px;
}

.navbarFixed > div{
  padding: 0px;
}

.navbarHeader{
  margin: 0px;
  width: 100%;
}

.routeSection{
  padding-bottom: 400px;
  padding-top: 60px;
  position: relative;
  z-index: 0;
}
